:root{
    --gold:#D4AF37;
    --light-gold:#C19257;
    --real-gold:#FFD700;
    --light-color:#F9F9F9;
    --dark-gray:#333333;
    --dark-black:#1B1B1B;


    --mint-green: #A8D5BA;   
  --olive-green: #556B2F;  
  --beige: #F5F5DC;       
  --light-brown: #8B6B4A;
  --soft-gold: #C2A661;   

    --pastel-green: #B8E6C1; 
  --aqua-blue: #AEE4F2;  
  --soft-beige: #FAF9F6;   
  --leaf-green: #4CAF50;  
  
  
  --dark-red:#8B0000;
  --dark-red2:#500606;
  --light-gray:#dbdbdb;
  --dark-gray:#1f1f1f;

}
section.mainSec{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding:20px;
}
section .mainContent{
    padding:70px 0px 0px 30px;
}
.mainContent h2{
    margin-bottom: 15px;
}
.mainContent p{
    margin-bottom:80px;
}
.mainContent button{
    padding:10px 15px;
    border-radius: 8px;
    outline:none;
    border:none;
    background:var(--dark-red);
    color:var(--light-color);
    font-size: 17px;
}
.mainContent button:hover{
    background:var(--dark-red2);
    color:var(--light-color);
    cursor: pointer;
}
.mainSec .mainImg{
    padding-right:30px;
}