:root{
    --gold:#D4AF37;
    --light-gold:#C19257;
    --real-gold:#FFD700;
    --light-color:#F9F9F9;
    --dark-gray:#333333;
    --dark-black:#1B1B1B;


    --mint-green: #A8D5BA;   
  --olive-green: #556B2F;  
  --beige: #F5F5DC;       
  --light-brown: #8B6B4A;
  --soft-gold: #C2A661;   

    --pastel-green: #B8E6C1; 
  --aqua-blue: #AEE4F2;  
  --soft-beige: #FAF9F6;   
  --leaf-green: #4CAF50;  
  
  
  --dark-red:#8B0000;
  --dark-red2:#500606;
  --light-gray:#dbdbdb;
  --dark-gray:#1f1f1f;

}
div.gallery{
    width:300px;
    border:1px solid lightgrey;
    margin:10px;
    height:300px;
}
div.gallery:hover{
    border:1px solid darkgray;
}
.gallery img{
    width:100%;
    height:auto;
}
.gallery h3{
    padding:10px;
    text-align: center;
}
.gallery .order{
    margin:10px auto;
    text-align: center;
}
.gallery a{
    color:var(--light-color);
    background: var(--dark-red);
    padding:8px 10px;
    outline:none;
    border:none;
    border-radius: 8px;
    text-decoration: none;

}

.gallery a:hover{
    background:var(--dark-red2);
    cursor: pointer;
}

.container{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    justify-items:center;
    row-gap: 10px;
}